@font-face {
    font-family: nevis;
    src: url(fonts/nevis.ttf) format("truetype");
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


main{
    flex:1;
}

.middle {
    display: flex;
    justify-content: center;
    margin: 40px;
    align-items: center;
    margin: 60px;
    gap: 200px
}

.menu-left {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.title {
    font-family: nevis;
}
.container {
    width: 500px;
    height: 500px;
    border: 2px solid grey;
    display: flex;
    flex-wrap: wrap;
}

.box {
    box-sizing: border-box;
    width: 6.25%;
    height: 6.25%;
    background-color: black;
    border: 1px solid white;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
